</div>
<style>
    h5{
        color: #ffffffca;
        font-size: 18px;
    }
    p{
        color: #ffffff89;
    }

</style>
<div class="container-fluid footer" style="background-color: #3d3d3d; margin: 20px 0px;">
  <div class="container" style="padding: 50px 0px;">

    <div class="row">

      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <h5>HỖ TRỢ KHÁCH HÀNG</h5>
        <p>Giới thiệu</p>
        <p>Tin tức</p>
        <p>Tuyển dụng</p>
        <p>Quan hệ cổ đông</p>

      </div>
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <h5>THÔNG TIN ĐIỆN MÁY XANH</h5>
        <p>Chính sách & Quy định chung</p>
        <p>Chính sách đổi trả sản phẩm</p>
        <p>Chính sách bảo hành</p>
        <p>Chính sách giao hàng</p>
      </div>
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <h5>TỔNG ĐÀI HỖ TRỢ (GỌI MIỄN PHÍ)</h5>
        <p>Gọi mua hàng 0126 922 0162</p>
        <p>Gọi khiếu nại 0126 922 0162</p>
        <p>Gọi bảo hành 0126 922 0162</p>
        <p>Hỗ trợ kỹ thuật 0126 922 0162</p>
        <div><img src="/images/dadangky-01.png" alt="" width="120px">
            <img src="/images/dathongbao-01.png" alt="" width="120px">
        </div>
      </div>
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <iframe width="360" height="215" src="https://www.youtube.com/embed/7u_nJ7HEHNM?si=kY07f1sacBL2mVnc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>

    </div>
    <div style="text-align: center;margin: 20px 0px;color: #ffffffbd;"> ==> © All rights reserved. Thiết kế website MonaMedia Mona Media</div>

  </div>
</div>
</body>

</html>