<%- include('../Trangnguoidung/Header') %>
<link rel="stylesheet" href="../dist/css/gioithieu.css">
<div class="container" style="margin-top: 20px;">
  
    <div>
      <h2>MONA MEDIA</h2>
      <p style="color: black; margin: 0 auto;text-align: center; width: 25%;" >Công ty green mona hoạt động lâu năm trong lĩnh vực này và chuyên cung cấp các loại cây cảnh loại</p>
    </div>
<div  class="row">

    
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
      <div class="nav-item" style="margin: 20px 0px;">
        <img src="../images/2.png" alt="" style="margin: 10px 130px;">
        <h4>GREEN MONA</h4>
        <p class="pp">Chuyên cung cấp và chăm sóc cây cảnh,cây văn phòng,cao ốc</p>
      </div>
      <div class="nav-item" style="margin: 20px 0px;">
        <img src="../images/tree-1-1.png" alt="" style="margin: 10px 130px;">
        <h4>Responsive</h4>
        <p class="pp">Công ty luôn cung cấp những sản phẩm đẹp,những công trình độc đáo cao đến với khách hàng</p>
      </div>
    </div>
   
   <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="margin: 0px 50px;width: 500px;">
         <div><img src="../images/bonsai-dep-1.jpg" alt="" width="520px"></div>
    
    </div>
   
   <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" > 
        <div class="nav-item" style="margin: 20px 0px;">
            <img src="../images/tree-2.png" alt=""  style="margin: 10px 130px;">
            <h4>Unlimited Options</h4>
            <p class="pp">Nhận thi công thiết kế sân vườn cho các khu nhà ở,biệt thự,vườn sinh thái,sân vườn cho các công ty nhà máy,công viên</p>
          </div>
          <div class="nav-item" style="margin: 20px 0px;">
            <img src="../images/tree-3.png" alt="" style="margin: 10px 130px;">
            <h4>Customize Anything</h4>
            <p class="pp">Nhận trồng và bảo dưỡng các công trình cảnh quan,cây xanh,cây cảnh với chất lương tốt nhất giá cả hợp lý</p>
          </div>
    </div>
  </div>
</div>


<%- include('../Trangnguoidung/Footer') %>