<%- include('../Trangnguoidung/Header') %>
<link rel="stylesheet" href="../dist/css/lienhe.css">
<div class="lienhe_header" style="background-color: #dddddd7c;margin-bottom: -30px;">
    <div class="container">
        <h1>Liên Hệ</h1>
        <div class=" row ngancanh" >
         
                <div className="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                    <label>Họ Và Tên : </label>
                    <input type="text" class="from-input" placeholder="Nhập Họ Và Tên" name="name"></input>
                   
                    <br>

                    <label>Email : </label>
                    <input type="email" class="from-input" placeholder="Nhập Email" name="email"></input>
                    
                    <br>
                    <label>Phone : </label>
                    <input type="Phone" class="from-input" placeholder="Nhập Số điện Thoại" name="phone"></input>
                   
                    <br>
                    <label>Góp ý: </label>
                    <textarea placeholder="Nêu ý kiến của bạn : " class="textra" name="message"></textarea>
                  

                    <button type="submit" class="buttonn">LIÊN HỆ NGAY</button>

                </div>

        </div>
    </div>
</div>
<%- include('../Trangnguoidung/Footer') %>